<nav class="bg-indigo-700 text-white px-4 py-3">
  <div class="max-w-5xl mx-auto flex flex-wrap gap-10 items-center">
    <a href="/" class="font-bold text-2xl mr-4">🏥 PharmaChain</a>
    <a href="/add"         class="hover:underline text-xl">ADD</a>
    <a href="/distributor" class="hover:underline text-xl">🚚 DISTRIBUTOR</a>
    <a href="/pharmacy"    class="hover:underline text-xl">💊 PHARMACY</a>
    <a href="/track"       class="hover:underline text-xl">🔍 TRACK</a>
    <a href="/verify"      class="hover:underline text-xl">📱 VERIFY</a>
  </div>
</nav>
